.button {
    padding: 5px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.calculatorBody {
    padding: 5px 25px;
    font-size: 24px;
    text-align: right;
    outline: none;
    color: black;
    background-color: rgba(33, 157, 199, 0.6);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
